<html>

<head>


  <title>Log-in</title>


</head>

<body>
<div class="login_background">
  <div class="login-card">
    <div class="profile_1"><img style="margin-top: 0px; width: 130px; height: auto;min-height:35px;" src="../Images/Reverp.png"/></div>
	
		<table align="center" border="0" class="table"
			style="width: 290px; height: 170px;">
			<tr>
				<td align="center" >
						<label location="username" />
				</td>
			</tr>
			<tr>
				<td align="center"><label location="password" />
				</td>
			</tr>
			<tr>
				<td align="center"><i style="margin-left: 40px;"><label location="err"
						style="color: red;"></label></i></td>
			</tr>
			<tr>
				<td  align="center"><label location="okbutton"></label></td>
			</tr>
		</table>
<br/>
		<div class="login-help">
				Copyright © Hubrum Technologies Inc , 2018 from Sparknova Pvt Ltd 
<!-- 				<a href="http://www.sparknovaplc.com" target="_blank" style="color: blue; text-decoration: none;" >Sparknova Pvt Ltd.</a>  -->
  </div>
</div>
</div>

</body>

</html>






















<!-- <html>
<head>
<title>LOGIN | Inventory ©2015 Sparknova</title>
<meta name="description" content="software| Login" />
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
body {
	background-color: #f5f5f5;
}
</style>
</head>



<body style="width: 100%; height: 100%; ">
	
	<div style="background-color: black; width: 100%; height: 100%; min-height: 630px;">
	
	<table>
		<tr>
			<td style="margin-left: 120px; width: 50%;" >

 


				<div style="float: left; margin-left: 20%; margin-top: 0px;">
					<img alt="" src="../Images/images.png"
						style="width: 600px; height: auto; margin-top: 80PX;">


				</div>

			</td>

			<td style="width: 50%;">

				<table style="float: right;">
					<tr>

						<td align="center"><img alt=""
							src="../Images/softwarelogo.png"
							style="width: 120px; height: auto;"></td>

					</tr>
					<tr>

						<td>

							<div class="indent_left clearfix"
								style="padding-left: 30px; padding-right: 0px; padding-top: 0px;">


								<div class="ab_con_wr">

									<table align="center" border="0" class="table"
										style="width: 290px; height: 170px;">
										<tr>
											<td height="43" colspan="2" align="center"><h2
													style="color: gray"></h2></td>
										</tr>

										<tr>
											<td width="110" style="width: 80px">&nbsp;&nbsp;&nbsp;&nbsp;
												Username :</td>
											<td width="333" align="left" style="width: 80px"><label>
													<label location="username" />
											</label></td>
										</tr>
										<tr>
											<td height="31" style="width: 80px">&nbsp;&nbsp;&nbsp;&nbsp;Password
												:</td>
											<td style="width: 198px"><label> <label location="password"/>
											</label></td>
										</tr>

										<tr>
											<td colspan="2" align="center"><i><label
													location="err" style="color: red;"></label></i></td>
										</tr>
										<tr>
											<td></td>
											<td style="padding-left: 80px;"><label
												location="okbutton"></label></td>
										</tr>
									</table>

								</div>
							</div>

						</td>

					</tr>

				</table>


			</td>

		</tr>
		<tr>
			<td colspan="2"><br/><br/><br/><br/></td>
		</tr>







		<tr>
			<td colspan="2" align="center" style="color: white;  padding-left: 140px;">
				Copyright © 2015 - <a
					href="http://www.sparknovaplc.com" target="_blank" style="color: #8CFFFF; text-decoration: none;" >Sparknova Pvt Ltd.</a> All rights reserved.
			</td>

		</tr>



	</table>


</div>


	</div>
	<footer id="footer">
		<div class="wrap">
		
	  </div>
			<div class="container_12">
				<div id="copyright" class="container clearfix">
					  
						
										<div id="footer-text">
												
													Complete Inventory & Accounting solution <span>|</span>   <a href="http://www.sparknovaplc.com">Powered by Sparknova Pvt Ltd</a>																		{%FOOTER_LINK}
				  </div>
				</div>
			</div>	
		</div>
	</footer>
</div>
	#main

</body>
</html> -->

